@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.homeBox{
    width: 100vw;
    height: auto;
    position: relative;
}
.left{
    position: absolute;
    left: 65%;
}
.carousel-cap{
    position: absolute;
    right: 5%;
    bottom: 1.25rem;
    left: 50%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    
    text-align: center;
}
.text{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}
.height{
    height: 80vh;
}